<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="css/data.css">
</head>
<body>
    <div class="headercls" id="header">
        <div class="logo">
            <a href="#">Bine ai venit!</a>
            <button id="btnLogout" class="btnlogout">Logout</button>
        </div>
    </div>
    <div class="sidebar">
        <ul id="nav">
            <li>
                <span>
                    <img src="grupa.gif" width="32" height="32">
                </span>
                <a id="click_href" class="selected" href="GrupeAn.html">Grupe Facultate</a>
                <span>
                    <img  src="carte.png" width="32" height="32">
                </span>
                <a id="click_href1" class="selected" href="PlanuriInvatamant.html">Planuri Invatamant</a>
                <span>
                    <img src="alocare.jpg" width="32" height="32">
                </span>
                <a id="click_href" class="selected" href="Alocare.html">Alocare planuri</a>
                <span>
                    <img  src="detalii.jpg" width="32" height="32">
                </span>
                <a id="click_href1" class="selected" href="DetaliiPlanuriInvatamant.html">Detalii Planuri Invatamant</a>

            </li>
        </ul>
    </div>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <div class="container1">

    </div>
    <div class="content">
        <p>Welcome!</p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>