<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Universitate</title>
    <link rel="stylesheet" href="css/data.css">  
</head>
<body>
    <div class="headercls" id="header">
    <div class="logo">
        <a href="#">Universitate</a>
        <button id="btnLogout" class="btnlogout">Logout</button>
    </div>
    </div>
    <a class="mobile">MENU</a>
    <!--<div id="container">-->

    <div class="sidebar">
        <ul id="nav">
            <li>
                <span>
                    <img src="people.png" width="32" height="32">
                </span>
                <a id="click_href" class="selected" href="#">Universitate</a>
            </li>
        </ul>
    </div>
    <script src="js/universitate.js"></script>
</body>
</html>